
  body {
  margin: 1rem;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1 {
  color: rgb(0, 209, 80);
}

h4 {
  margin: 0px;
  font-size: 1.2rem;
  color: rgb(255, 0, 119);
}
.title {
  display: flex;
  justify-content: center;
  justify-items: center;
}
p {
  font-size: 1.2rem;
  color: rgb(24, 24, 24);
  text-align: center;
}

.loading{

  align-items: center;
  justify-content: center;


}
textarea {
  width: 60vw;
  outline: 1px solid rgb(128, 228, 114);
  border-radius: 1.5rem;
  margin: 0.5rem;
  text-align: center;
}
label {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(27, 27, 27);
}

textarea::placeholder {
  color: #000000;
  font-style: italic;
}

button {
  background-color: rgb(128, 228, 114);
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: 5px;
  width: 7rem;
  outline: none;
  border: none;
}
button:hover {
  background-color: rgb(255, 0, 119);
  color: white;
}
textarea:focus {
  outline: 1px solid rgb(255, 64, 230);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
